mat-toolbar {
  display: flex;
  justify-content: right;
}

.background {
  align-items: center;
  background-image: url("/assets/mountains.png");
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);
  padding-top: 10%;
}

.spacer {
  flex: 1 1 auto;
}
